In [5]:
#파이썬의 기본 문법
##변수

In [6]:
# 두 수의 합 구하기
a = 20
b = 30
c = a + b
print(c)

50

In [8]:
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [9]:
type(x)

int

In [10]:
#실수형
x = 3.3764
y = 6/2
print(x, y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [11]:
type(x), type(y)

(float, float)

In [12]:
type(x)
type(y)

float

In [13]:
#문자열
a = 'x'
b='I am OK'
c = "안녕하세요"
d = "I'm ok."
print(a,b,c,d)
print(type(d))

x I am OK 안녕하세요 I'm ok.
<class 'str'>

In [14]:
#숫자와 문자열
a=30
a,type(a)

(30, int)

In [15]:
b='30'
b,type(b)

('30', str)

In [16]:
#문자열의 인덱싱
str = 'I am happy!'
str

'I am happy!'

In [17]:
str[0],str[-3:],str[-4:-2]

('I', 'py!', 'pp')

In [18]:
str[0],str[-3:],str[-4:-2]

('I', 'py!', 'pp')

In [19]:
#문자열의 인덱싱
str = 'I am happy!'
str

'I am happy!'

In [20]:
#Boolean
t=True
f=False
print(t,f)

True False

In [21]:
type(condition)

NameError: name 'condition' is not defined

#산술연산자

In [22]:
#사칙연산
a=10
b=20
c=a+b*10-5/5
print(c)

209.0

In [23]:
True+3

4

In [24]:
#나머지와 몫
x=10%3
y=10//3
x,y

(1, 3)

In [25]:
9*3

27

In [26]:
9//3

3

In [27]:
#거듭제곱
x=2**3

In [28]:
#거듭제곱
x=2**3
x

8

In [29]:
2**-3

0.125

In [30]:
#할당연산자
x=10
x+=20
x

30

In [31]:
#문자열 반복
hello='안녕'*5
hello

'안녕안녕안녕안녕안녕'

In [32]:
#문자열 길이(len)
len(hello)

10

In [33]:
len('나는 Python을 좋아합니다')

16

In [34]:
#문자열 연결
name='홍지수'
greet=name+'님 안녕하세요?'
greet

'홍지수님 안녕하세요?'

In [35]:
#문자열 연결시 주의사항
eng=80
result='영어점수'
result

'영어점수'

In [36]:
#문자열 연결시 주의사항
eng=80
result='영어점수:'+eng+'점'
result

TypeError: can only concatenate str (not "int") to str

In [37]:
result='영어점수'+eng+'점'
result

TypeError: can only concatenate str (not "int") to str

In [38]:
result='영어점수:'+eng+'점'
result

TypeError: can only concatenate str (not "int") to str

In [39]:
eng=70.3
result='영어점수'+str(eng)+'점'
result

TypeError: 'str' object is not callable

In [40]:
#문자열 포맷팅
result='영어점수:%D점'%80
result

ValueError: unsupported format character 'D' (0x44) at index 6

In [41]:
#문자열 포맷팅
result='영어점수:%d점'%80
result

'영어점수:80점'

In [42]:
year=2020
month=8
day=27

date='%d-%02d-%02d'%(year,month,day)
date

'2020-08-27'

In [43]:
height=172.5
a='키는 %.2f입니다.'%height
a

'키는 172.50입니다.'

In [44]:
#format() 활용
name='황예린'
age=18
eyesight=1.2

a='이름:{}'.format(name)
b='나이:{}'.format(age)
c='시력:{}'.format(eyesight)
a,b,c

('이름:황예린', '나이:18', '시력:1.2')

In [45]:
len('안녕')

2

In [46]:
#문자열 메소드
hello.count('안')

5

In [47]:
a.find('름')

1

In [48]:
a.find('나')

-1

In [49]:
names='김,이,박,최,정'
first_names=names.split(',')
first_names

['김', '이', '박', '최', '정']

In [50]:
names='김\이\박\최\정'
first_names=names.split('\')
first_names

SyntaxError: EOL while scanning string literal (<ipython-input-50-b5f0955216e4>, line 2)

In [51]:
names='김\t이\t박\t최\t정'
first_names=names.split('\t')
first_names

['김', '이', '박', '최', '정']

In [52]:
space=names.isspace()
space

False

## 실행결과 출력

In [53]:
#콤마
print(name,age,eyesight)

황예린 18 1.2

In [54]:
print(year,month,day)
print(year,month,day, sep='/')
print(year,month,day, sep='--')

2020 8 27
2020/8/27
2020--8--27

In [55]:
print(name,age,eyesight)
print(year,month,day)

황예린 18 1.2
2020 8 27

In [56]:
print(name,age,eyesight,end='\n\n')
print(year,month,day)

황예린 18 1.2

2020 8 27

In [57]:
print(name,age,eyesight,end=' ')
print(year,month,day)

황예린 18 1.2 2020 8 27

In [58]:
print(year,month,day, sep='/',end=' ')
print(year,month,day, sep='-')

2020/8/27 2020-8-27

In [59]:
#position argument가 keyword argument보다 뒤에 나~
print(year,month,sep='-',day)

SyntaxError: positional argument follows keyword argument (<ipython-input-59-330f20efc585>, line 2)

In [1]:
name = input('이름 입력:')

이름 입력:홍길동

In [2]:
name

'홍길동'

In [3]:
first=input('첫번째 숫자')
second=input('두번째 숫자')

첫번째 숫자10
두번째 숫자20

In [4]:
sum=first+second
sum

'1020'

In [5]:
sum=int(first)+int(second)
sum

30

In [6]:
inch=float(input('인치(inch)값 입력> '))

인치(inch)값 입력> 30

In [7]:
inch

30.0

In [8]:
cm=2.54*inch
print('Inch:%.2f==>Centimeter: %.2f'%(inch,cm))

Inch:30.00==>Centimeter: 76.20

## 주석문(comment)

In [9]:
#한줄짜리 주석문
cm=inch*2.54 #인치를 센티미터로 변환

In [10]:
'''
이 사이에는 여러줄짜리 주석문이 올 수 있습니다
프로그램명: 두 수 더하기
'''

'\n이 사이에는 여러줄짜리 주석문이 올 수 있습니다\n프로그램명: 두 수 더하기\n'

In [11]:
print()

In [12]:
width=10
height=3
area=width*height/2
print('삼각형의 밑변길이:',width)
print('삼각형의 높이:',height)
print('삼각형의 면적:',area)

삼각형의 밑변길이: 10
삼각형의 높이: 3
삼각형의 면적: 15.0

In [13]:
price=800
buy=3
pay=5000
change=pay-price*buy
print('물건가격:',price,'원')
print('구개개수:',buy,'개')
print('지불금액:',pay,'원')
print('거스름돈:',change,'원')

물건가격: 800 원
구개개수: 3 개
지불금액: 5000 원
거스름돈: 2600 원

In [14]:
name="홍길동"
age=30
height=171.5

print('성:',name홍)
print('이름:',name길동)
print("홍의 나이":30세,키:171.50cm"%(name,age,height))
print("길동의 나이:30세,키:171.50cm"%(name,age,height))

SyntaxError: invalid syntax (<ipython-input-14-13246805f399>, line 7)

In [1]:
name="홍길동"
age=30
height=171.5

print('성:',name홍)
print('이름:',name길동)
print("홍의 나이:30세,키:171.50cm"%(name,age,height))
print("길동의 나이:30세,키:171.50cm"%(name,age,height))

NameError: name 'name홍' is not defined

In [2]:
name="홍길동"
age=30
height=171.5

print('성:',name홍)
print('이름:',name길동)
print("홍길동의 나이:30세,키:171.50cm"%(name,age,height))

NameError: name 'name홍' is not defined

In [ ]:
name=input('황예린')
kor=83(input('83'))
eng=85(input('85'))math=91(input('91'))

=kor+eng+math
=total/4

print('이름:,국어:%d,영어:%d,수학:%d,평균:%.1f점'%(name,kor,eng,math,avg))